target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.mvn
src/test
src/main/java/cn/qkmango/tms/test

src/main/resources/static/test
src/main/resources/static/**/*.bak.*
src/main/resources/static/api/test.json
src/main/resources/static/page/teacher/data.json
src/main/resources/static/data/
target

#敏感信息配置到这里，git取消追踪此文件（properties文件优先级高于yml）
/src/main/resources/application.properties


src/main/resources/static/page/*.html
